<div class="mx-auto" style="width: 300px;">
  <h1 class="text-center" style="padding: 120px 0 50px 0;">Sign up</h1>
  <form action="/sign_up" method="POST">
    <div class="mx-auto" style="width: 250px;">
      <div class="row">
        <div class="col-4">
          <label for="name">Name：</label>
        </div>
        <div class="col-8">
          <input type="text" name="name" id="name">
        </div>
        <div class="col-4">
          <label for="name">Email：</label>
        </div>
        <div class="col-8">
          <input type="text" name="email" id="email">
        </div>
        <div class="col-4">
          <label for="name">Password：</label>
        </div>
        <div class="col-8">
          <input type="password" name="password" id="password">
        </div>
      </div>
    </div>
    <div class="mx-auto" style="width: 90px; margin-top: 50px;">
      <input style="width: 90px;" type="submit" id="sign_up" value="Sign up" class="btn btn-outline-success">
    </div>
  </form>
</div>
