<div class="top">
  <div class="mx-auto" style="width: 300px; padding: 150px 0 100px 0;">
    <h1 class="text-center">がくろぐ</h1>
  </div>
  <div class="mx-auto" style="width: 200px;">
    <a style="width: 90px;" class="btn btn-outline-primary" href="/sign_in" role="button">Sign in</a>
    <a style="width: 90px; float: right;" class="btn btn-outline-success" href="/sign_up" role="button">Sign up</a>
  </div>
</div>
