* {
  font-family: 'arial unicode ms';
}

.graph {
  margin: 0 10%;
  padding-top: 50px;
}

.total_count {
  color: red;
  text-align: center;
}

.total {
  padding-top: 100px;
}

.total p {
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
}

.input_form {
  margin: 100px auto;
}

